<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::head">
</head>
<body>
<nav th:replace="template::nav"></nav>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">模拟测试</div>
        <div class="panel-body">
            <div class="col-lg-4">
                <p>当前状态：<span id="qq">已连接</span></p>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-info " type="button">连接</button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-info " type="button">断开</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="connect">WebSocket connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="../static/js/chatTest.js" th:src="@{/js/chatTest.js}"></script>

</html>