<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::head">
</head>
<body>
<nav th:replace="template::nav"></nav>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">模拟测试</div>
        <div class="panel-body">
            <div class="col-lg-4">
                <p>当前状态：<span id="connect-status">已断开</span></p>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-info " id="connect" type="button">连接</button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-info " id="disconnect"  type="button" disabled="disabled">断开</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-6" id="private-msgs">

            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="../static/js/chatTest.js" th:src="@{/js/chatTest.js}"></script>

</html>