<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::head">
</head>
<body>
<nav th:replace="template::nav"></nav>
<div class="jumbotron">
    <div class="container">
        <h1>Welcome come.Gook luck and have fun!</h1>
        <p>This is the home page of a background management page.Main functions include users, friends, systems and
            other
            management.I hope you enjoy it.If you have any questions, please contact.</p>
        <p><a class="btn btn-primary btn-lg" href="mailto:lywszh@vip.qq.com" target="_blank" role="button">Contact</a>
        </p>
    </div>
</div>
</body>
</html>