<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::head">
</head>
<body>
<div class="container">
    <form class="form-signin">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class="form-signin-heading">欢迎登录</h2>
            <input type="email" id="inputPhone" class="form-control" placeholder="手机" required="true"
                   autofocus="true"/>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="true"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="remember-me"/> 记住我
                </label>
            </div>
            <button class="btn btn-lg btn-default btn-block" type="button" id="sign-in">登录</button>
        </div>
        <div class="col-lg-4">
        </div>
    </form>
</div>
</body>
<script>
    $("body").on("click", "#sign-in", function () {
        let cellPhone = $("#inputPhone").val().trim();
        let pwd = $("#inputPassword").val().trim();
        let rememberMe = $("#remember-me").prop('checked');
        $.ajax({
                url: "/user/login",
            type:"POST",
                data: {cellPhone: cellPhone, pwd: pwd, rememberMe: rememberMe},
                success: function (res) {
                    if (res.result) {
                        window.location = "/back/index";
                    } else {
                        layer.msg(res.message);
                    }
                },
                error: function (res) {
                }
            }
        );

    });

</script>
</html>